@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(58, 58, 58);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(105, 105, 105);
  }